{% extends 'user/base.html' %}

{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="small"><b>Email By :</b> <span class="text-capitalize">{{ object.email_to.name }}</span> <span class="badge badge-secondary ml-2">Date:00/00/0000</span></h4>
                    <h4 class="text-center">Subject</h4>
                    <p class="pl-5 pr-5 lead">{{ object.subject }}</p>
                    <a href="{{ object.file.url }}">download</a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}