<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand ml-5 text-white " href="{% url 'home' %}">Email</a>

  </div>
</nav>


<div class="container mt-3">
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card border-0 shadow-sm bg-light">
                <div class="card-body">
                    <h5 class="display-5 mb-1">User Signup</h5>
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                       <table class="table">
                           {{ forms|crispy }}
                       </table>
                        <input type="submit" class="btn btn-success btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>